{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1>About</h1>
    <p>Welcome to the about page of Dr460n4ir3 LLC.</p>
    <p>This is a placeholder for username INFO</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias architecto veniam perferendis porro beatae minus,
        culpa laboriosam debitis corporis nesciunt officia labore quo reprehenderit molestiae inventore, accusamus harum
        eius quisquam.</p>
</div>
    
    {% endblock %}